body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #f8bbd0;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    max-width: 100%;
    border-bottom: #333 solid 8px;
}

#SignUp{
    border: 2px solid rgb(255, 255, 255);
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.auth-button:hover {
    background-color: #0056b3;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    margin-right: 10px;
    border-radius: 24px;
    border: 2px solid rgb(255, 255, 255);
}

.logo img{
    height: 80px;
    transform: translate(-15px, -14px);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.service-text p{
    text-align: justify;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

a:hover {
    background-color: #0056b3;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    max-width: 100%;
}

.contact{
    display: flexbox;
    justify-content: center;
}

.content li a{
    display: inline-block;
    background-color: #007bff;
    padding: 10px;
    border-radius: 8px;
    font-size: 2vw;
}

.content li a:hover{
    background-color: #0056b3;
}


@media screen and (min-width: 200px) and (max-width: 768px){

    .content li{
        font-size: 1vw;
        display: block;
        margin-bottom: 10px;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    .content li a{
        font-size: 16px;
        display: block;
        background-color: #007bff;
    }

    a{
        padding: 10px 20px;
    }

    .title{
        font-size: 6vw;
    }
}